<h1>All Articles</h1>

<ul id="articles">
  <% @articles.each do |article| %>
    <li>
      <%= article.title %>
      <%= link_to article.title, article_path(article) %>
    </li>
  <% end %>
</ul>

<%= link_to "Create a New Article", new_article_path, 
    class: "new_article"%>

<%# terminal #1 is what you were last in 
             #2 is rails console,
             #3 is rails server %>